* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Times New Roman";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Times New Roman";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: antiquewhite;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(253, 217, 169);
}

.accordion__title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: darkslategray;
  padding: 2vh 0;
  margin-bottom: 1vh;
  border-bottom: 1px solid lightgray;
}
.accordion__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  justify-items: center;
}
.accordion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  gap: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.accordion__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: darkslategray;
  border-bottom: 1px solid rgb(108, 98, 98);
}
.accordion__item-title {
  font-weight: bold;
}
.accordion__item-icon {
  color: brown;
  font-size: 20px;
}
.accordion__item-body {
  display: none;
  padding: 20px;
  color: darkslategray;
  font-size: 16px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-icon:hover {
  color: red;
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  font-size: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.collapsed {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}/*# sourceMappingURL=style.css.map */